.form {
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
    border: 3px double rgb(65, 61, 61);
    width: 500px;
}

.label {
    display: block;
}

.input {
    display: block;
    margin: 15px auto;
    padding: 5px;
    width: 400px;
}

.input:hover,
.input:focus {
    outline: thick double #32a1ce;
}

.button {
    margin: 15px auto;
    box-shadow: 1px 1px 1px 2px #858686;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #858686;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-weight: 500;
    padding: 12px 44px;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
    background: linear-gradient(to bottom, #3645AB 5%, #7abaff 100%);
    background-color: #3645AB;
    box-shadow: 1px 1px 1px 2px #7abaff;
    border: none;
    color: white;
    outline: none;
}

.title {
    padding: 30px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #3645AB;
}